.custom-slider {
  position: relative;
  width: 620px;
  padding: 15px 0;
  touch-action: none;
  display: flex;

  &__track {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 18px;
    border: 2px solid #b4b4b4;
    border-radius: 999px;
    transform: translateY(-50%);
    box-sizing: border-box;
  }

  &__progress {
    position: absolute;
    left: -2px;
    top: -2px;
    height: calc(100% + 4px);
    background-color: #ff3b72;
    border-radius: 999px;
    transition: width 0.2s ease;

    &--dragging {
      transition: none;
    }
  }

  &__thumb {
    position: absolute;
    top: 45%;
    width: 40px;
    height: 72px;
    background-color: #fff;
    border: 2px solid #b4b4b4;
    border-radius: 17px;
    box-shadow: 0px 3px 0px #b4b4b4;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.2s, left 0.2s ease;
    user-select: none;

    &::before {
      content: '';
      position: absolute;
      inset: 6px;
      background: #f2f2f2;
      border-radius: 16px 16px 32px 16px;
    }

    &--dragging {
      transform: translate(-50%, -50%) scale(1.1);
      transition: none;
    }
  }

  &__value {
    color: #ff3b72;
    font-size: 200%;
    width: 80px;
    text-align: left;
    margin-left: 12px;
  }
}
