.NormalButton {
  font-size: 150%;
  box-sizing: border-box;
  padding: 0.2em 1em 0.2em 1em;
  color: #505050;
  cursor: pointer;
  border: 2px solid #b4b4b4;
  border-radius: 20px;
  box-shadow: 0px 4px 0px #b4b4b4;
  position: relative;
  transition: color 0.15s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    inset: 0.5rem 0.5rem 0.5rem 0.5rem;
    background: #f2f2f2;
    border-radius: 16px 16px 32px 16px;
    z-index: -1;
  }
}

.NormalButton:hover {
  color: #ff3b72;
}

.NormalButtonChecked {
  color: #ff3b72;
  border: 2px solid #ff3b72;
  box-shadow: 0px 4px 0px #ff3b72;

  &::before {
    background: #ffe8ed;
  }
}
