.TextBox_EventHandler {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 6;
  top: 0;
}

@mixin text_shadow_textElement {
  //text-shadow: 0 0 3px rgba(81,168,221,1);
}

.TextBox_Container {
  position: absolute;
  z-index: 6;
  bottom: 0;
  width: 100%;
  animation: showSoftly 0.7s ease-out forwards;
}

.TextBox_main {
  z-index: 3;
  position: absolute;
  right: 120px;
  min-height: 330px;
  max-height: 330px;
  background-blend-mode: darken;
  border-radius: 48px;
  bottom: 60px;
  left: 120px;
  color: white;
  padding: 56px 64px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  transition: left 0.33s;
  transform: scale(0.9);
}

.TextBox_main_miniavatarOff {
  // left: 25px;
}

.TextBox_Background {
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  opacity: 1 !important;
  box-shadow: 0px 6px 0px rgba(190, 190, 190, 0.8);
  border: 2px solid rgba(190, 190, 190, 0.8);
  overflow: hidden;

  &::after {
    content: "";
    width: 6em;
    height: 6em;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    right: 8px;
    background-image: url("/src/assets/image/textbox-background.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 6em;
    opacity: 0.4;
    transform: rotate(4deg);
  }
}

@keyframes showSoftly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//.TextBox_textElement {
//  opacity: 0;
//  animation: showSoftly 1000ms forwards;
//}


.TextBox_textElement_start {
  @include text_shadow_textElement;
  position: relative;
  animation: TextDelayShow 1000ms ease-out forwards;
  opacity: 0;
  display: inline-flex;
  align-content: space-between
}


.outer {
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  //background-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgb(225, 237, 255) 100%);
  background: rgb(80, 80, 80);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 2;
  display: inline-block;   /* 与文本对齐 */
  vertical-align: middle;  /* 确保注音整体的垂直居中 */
}

.inner {
  white-space: nowrap;
  position: absolute;
  left:0;
  top:0;
  -webkit-text-stroke: 0.1em rgba(255, 255, 255, 1);
  z-index: 1;
  //text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  display: inline-block;   /* 内层元素同样行内块布局 */
  vertical-align: middle;  /* 确保与外层的对齐一致 */
  visibility: hidden;
}

.zhanwei {
  color: transparent;
  white-space: nowrap;
  display: inline-block;    /* 保持行内块布局 */
  vertical-align: baseline; /* 确保文本基线对齐 */
  position: relative;       /* 保持相对定位 */
}

//
//.TextBox_textElement_start::before{
//  animation: TextDelayShow 700ms ease-out forwards;
//  opacity: 0;
//  content:attr(data-text);
//  position: absolute;
//}

.TextBox_textElement_Settled {
  position: relative;
  @include text_shadow_textElement;
  opacity: 1;
  display: inline-flex;
  align-content: space-between
}

//
//.TextBox_textElement_Settled::before{
//  content:attr(data-text);
//  position: absolute;
//  opacity: 1;
//  -webkit-text-stroke: 1px red;
//  z-index: 1;
//}

.TextBox_showName {
  @include text_shadow_textElement;
  padding-left: 48px;
  padding-right: 120px;
  min-width: 10em;
  max-width: 16em;
  position: absolute;
  left: -8px;
  top: -92px;
  height: 105px;
  line-height: 110px;
  border-radius: 9999px;
  z-index: 3;
  border: 4px solid rgba(255, 255, 255, 0);
  font-size: 275% !important;
  overflow: hidden;
}

.TextBox_ShowName_Background {
  z-index: 2;
  background: linear-gradient(135deg, #ff5081 20%, #ff3b72 20%);
  border: 5px solid rgba(255, 255, 255, 1);
  opacity: 1 !important;
  overflow: hidden;
  box-shadow: none;

  &::after {
    content: "";
    width: 105px;
    height: 105px;
    display: inline-block;
    position: absolute;
    bottom: -3px;
    right: -6px;
    background-image: url("/src/assets/image/textbox-meteor.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 105px;
  }
}

@keyframes TextDelayShow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.miniAvatarContainer {
  position: absolute;
  height: 450px;
  width: 450px;
  bottom: 420px;
  left: 40px;
  overflow: hidden;
}

.miniAvatarImg {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  filter: drop-shadow(15px 0 3px rgba(0, 0, 0, 0.5));
}

.nameContainer {
  position: absolute;
  left: 2em;
  top: -3.5em;
}

.outerName {
  position: absolute;
  left: 0;
  top: 0;
  color: #FFF;
  z-index: 2;
}

.innerName {
  position: absolute;
  left: 0;
  top: 0;
  //-webkit-text-stroke: 0.1em rgba(0, 0, 0, 0.25);
  //-webkit-text-stroke: 0.1em rgba(255, 255, 255, 1);
  z-index: 1;
  color: transparent;
  -webkit-text-stroke: 8px #ff3b72;
}

.text {
  line-height: 75px !important;
  overflow: hidden;
  font-size: 240% !important;
  padding: 0 !important;
}
